<mat-card class="upload-file-card">
  <mat-card-subtitle>Please upload a .csv file with the appropriate headings.</mat-card-subtitle>
  <mat-card-title>UPLOAD FILE</mat-card-title>
  <mat-card-content>
    <input type="file" (change)="uploadFile($event)" accept=".csv" />
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button [disabled]="!file" (click)="calculateLeagueFromFile()">CALCULATE LEAGUE</button>
    <button mat-button [disabled]="!file">CANCEL</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<app-calculator-results></app-calculator-results>
